*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
   
    margin: 0 auto;
    padding: 15px;
    background-color: #1f2937;
    color:white;
    font-family: poppinsregular;
}

h2 {
    font-family: poppinsmedium;
}

span {
    color:#3882f6;
}

p {
    line-height: 20px;
    font-family: poppinslight;
}

header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    align-items: center;

}

.title {
    font-size: 30px;
}

header ul {
    list-style: none;
    display: flex;
    gap: 50px;
    margin-left: auto;
    margin-right: 30px;
}

a {
    text-decoration: none;
    color: white;
}

li a:hover {
    color: #3882f6;
    transition: 0.3s all;
}

#contact {
    border: 2px solid #3882f6;
    padding: 10px;
    border-radius: 15px;
}

#contact:hover {
    background-color:#3882f6;
    color: #1f2937;
    transition: 0.5s all;

}

.info {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    margin-bottom: 30px;
}

.info aside{
    margin: 30px;
}

.info aside p {
    margin: 30px 5px
}

.info img {
    
    border: 2px solid #3882f6;
    border-radius: 5px;
    width: 50%;

}

.blue-button{
    background-color: #3882f6;
    padding: 10px;
    border-radius: 10px;
}

.blue-button:hover {
    color: white;
    border: 1px solid white;
    transition: 0.5s all;
}

main {
    background-color: white;
    color: #1f2937;
    margin:0 -15px;
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
    gap: 20px;
}

main h2{
    flex-shrink: 0;
    flex-basis: 100%;
    text-align: center;
    font-family: poppinsmedium;
    font-size: 25px;
    margin-bottom: 20px;
}

.place {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    gap: 15px;
    border-radius: 10px;
}

.place:hover {
    background-color: #e5e7eb;
    transition: 0.4s all;
}

.place img {
    width: 100%;
    height: 222px;
    border: 2px solid #3882f6;
    border-radius: 10px;
}

.quote {
    background-color: #e5e7eb;
    color: #1f2937;
    padding: 75px 100px;
    margin: 0 -15px;
}

.quote p {
    font-size: 20px;
    line-height: 27px;
}

.quote p span {
    font-size: 18px;
    font-weight: bold;
    margin-left: 800px;
}

.sign-up-container {
    background-color: white;
    margin: 0 -15px;
    padding: 40px;
    display: flex;
    justify-content: center;
}

.sign-up {
    background-color: #3882f6;
    padding: 20px;
    width: 75%;
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
}

.sign-up p {
    flex-basis: 80%;
}

.sign-up a {
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px
}

.sign-up a:hover {
    background: white;
    color: #3882f6;
    transition: 0.4s all;
}

footer {
    background-color: #1f2937;
    text-align: center;
    margin-top: 10px;
}



